<div class="row">
<h3>To Do List</h3>
	<div class="col-xs-6">
		<div ng-style="myStyle" ng-repeat="task in tasks">
			<h4 class="check box pointer" ng-dblclick="showEdit()">{{task.title}} <input type="checkbox" ng-click="myStyle={'background-color': 'green'}"></h4>
			<li>{{task.description}}</li>
			<div class="col-xs-offset-1" ng-show="edit">
			<form role="form" ng-submit="editTask(task)">
				<div class="form-group">
					<label for="title">Task Title</label>
					<input class="form-control" id="title" type="text" ng-model="task.title" autofocus true />
					<label for="description">Description</label>
					<textarea class="form-control" name="text" id="description" cols="30" rows="5" ng-model="task.description"></textarea>
				
				<button type="submit" class="margin-top btn btn-primary">Edit</button>
			</form>
				<button type="submit" class="margin-top btn btn-danger" ng-click="deleteTask(task)">Delete</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-6">
		<form role="form" ng-submit="postTask()">
		<div class="form-group">
			<label for="title">Task Title</label>
			<input class="form-control" id="title" placeholder="Title" type="text" ng-model="newTask.title" autofocus true />
			<label for="description">Description</label>
			<textarea placeholder="Write short description about task" class="form-control" name="text" id="description" cols="30" rows="5" ng-model="newTask.description"></textarea>
		</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>


<p>{{hello}}</p>