<div class='popup modal-dialog modal-content' ng-hide="hide" >
	<div class="modal-header">
	    <h3 class="modal-title"></h3>
	</div>
	<div class="modal-body">
		<h1>WEINER!!!!</h1>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="">TRY AGAIN</button>
	</div>
	</form>
</div>